{{- if and .Values.persistence.enabled (not .Values.persistence.existingClaim) (not .Values.persistence.useHostPath) }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "matter-server.fullname" . }}
  labels:
    {{- include "matter-server.labels" . | nindent 4 }}
spec:
  accessModes:
    - {{ .Values.persistence.accessMode }}
  {{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
{{- end }}
