name: releases

on:
  workflow_dispatch:
  push:
    branches:
    - main


jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Extract tag version
        run: echo "VERSION=$(sed -n 's/^version:[[:space:]]*//p' chart/matter-server/Chart.yaml)" >> $GITHUB_ENV

      - name: Chart | Push matter-server
        uses: appany/helm-oci-chart-releaser@v0.5.0
        with:
          name: matter-server
          repository: foexle/matter-server
          path: chart/matter-server
          tag: ${{ env.VERSION }}
          registry: ghcr.io
          registry_username: ${{ github.actor }}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          update_dependencies: 'true'